@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

:root {
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --accent1-color:#000000;
    --accent2-color:#e5e5e5;

    --heading-font: 'Roboto Condensed', sans-serif;
    --paragraph-font: 'Roboto Condensed', sans-serif;

    --nav-background-color: #fca311;
    --nav-link-color: #e5e5e5;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #14213d;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    display: grid;
    grid-template-columns: 120px 2fr;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding: 20px;
    background-color: var(--accent1-color);
    border-radius: 10px;
}

img[src="images/logo.png"] {
    max-width: 100%;
    margin: 0 0.25rem 0 0;
    border-radius: 10px;
}
p {
    padding: 15px;
    color: var(--accent2-color);
}

nav{
    display: flex;
    text-align: right;
	list-style: none;
    background-color: var(--nav-background-color);
    font-size: 1.5rem;
    border-radius: 10px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    color: #333;
    margin-left: auto;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
    flex: 1 1 100%;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 700;
	text-decoration: underline;
}
body {
    background-color: var(--primary-color);
    max-width: 1920px;
    max-height: auto;
}

.contact {
   position: relative;
}

.contact h1 {
    text-align: center;
    font-size: 2rem;
}

.contact-info {
    flex: 1;
    text-align: center;
    padding: 0;
}

iframe {
    width: 80%;
    border: none;
}

.contact-info p {
    margin: -9.5px;
}

/* Contact Form */

.contact-form {
    background-color: var(--accent2-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.contact-form h2 {
    text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        color: var(--accent1-color);
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.radio-label {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.radio-label input[type="radio"] {
    margin-right: 5px;
}

.submit-button {
    background-color: var(--nav-background-color);
    color: var(--accent2-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    background-color: var(--nav-hover-background-color)
}

figure {
    display: inline-block;
    max-width: 500px;
    width: 30%;
    text-align: center;
    margin: 0 10px;
}

figure img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

figcaption {
    margin-top: 0;
    color: var(--accent2-color);
    font-size: 1rem;
}

/* Footer Style  */

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 10px;
    border-radius: 10px;
}

.sociallinks {
    display: flex;
    gap: 5px;
}

.sociallinks a {
    display: block;
}

.sociallinks img {
    width: 30px;
    height: auto;
}